@model Sample.Core.Recipes.Application.Index.Result

@{
    ViewBag.Title = "Customers";
}

<h2>Courses</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<form method="GET">
    <p>
        Select SelectedCustomer: @Html.TextBoxFor(m => m.SelectedCustomer)
        <input type="submit" value="Filter"/>
    </p>
</form>

<table class="table">
    <tr>
        <th>
            Number
        </th>
        <th>
            Title
        </th>
        <th>
            Credits
        </th>
        <th>
            Department
        </th>
        <th></th>
    </tr>
    @{ var i = 0; }
    @foreach (var item in Model.Customers)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
        </tr>
        i++;
    }

</table>